<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= store.cnpj %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= store.telephone %>
  </p>

</div>
